html, body {
      color: #4d4e53;
      font-family: 'Open Sans', Arial, sans-serif;
      line-height: 1.5;
      min-width: 290px;
  }
body {
    display: flex;
    flex-direction: row;
}
#navbar{
    float: left;
    position:fixed;
    width: 18%;
}
a:link {
      color:black;
  }
a:visited {
      color:black;
  }
ul a:hover {
      background-color: grey;
      color: white;
  }
ul a:active {
      background-color: green;
      color:white;
  }
nav ul {
    border: 1px solid #555;
    height: 600px;
    list-style: none;
    overflow-y: scroll;
    padding-inline-end: 10px;
    padding-inline-start:10px;
}
nav li {
    padding: 2px;
    text-align: center;
}
nav a{
      text-decoration: none;
  }
.content{
      float: right;
      margin-left:20% ;
  }
@media only screen and (max-width: 815px){
  body{
        display: flex;
        flex-direction: column;
    } 
  #navbar{
        background-color: white;
        border-bottom: 2px solid;
        float: none;
        margin-bottom: 0;
        max-height: 275px;
        overflow:hidden;
        padding-bottom: 0;
        position: absolute;
        top: 0;
        width: 95%;
        z-index: 1;
    } 
    #main-header{
        text-align: center;
    }
    nav ul{
        height: 200px;
        overflow-y: scroll;
    }
      .content{
            margin-bottom: 50px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top:275px ;
        }
}
code{
      background-color: #f7f7f7;
      border-radius: 5px;
      display: block;
      line-height: 2;
      margin: 10px;
      padding: 15px;
      position: relative;
      text-align: left;
      white-space: pre-line;
      word-break: normal;
      word-wrap: normal;
  }